@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.wrap{
display: flex;
flex-direction: row;
flex-wrap: wrap;
background-color: rgb(237, 243, 243);
}
.timer{
display: flex;
text-align: center;
flex-direction: row;
margin-left: 3rem;
color:red;
margin-top: -5px;
}
.days{
background-color: blanchedalmond;
padding: 20px;
font-size: 22px;
}
.hours{
background-color: blanchedalmond;
padding: 20px;
font-size: 22px;
}
.mins{
background-color: blanchedalmond;
padding: 20px;
font-size: 22px;
}
.secs{
background-color: blanchedalmond;
padding: 20px;
font-size: 22px;
}
h3{
color:lightseagreen;
}
.birthday{
padding: 20px;
}
.product{
display: flex;
gap: 7rem;
}
.timercenter {
 text-align: center;
}