@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.wrap{
display: flex;
flex-direction: row;
flex-wrap: wrap;
background-color: rgb(237, 243, 243);
}
.timer{
display: flex;
text-align: center;
flex-direction: row;
margin-left: center;
color:red;
gap: 15px;
}
.days{
background-color: blanchedalmond;
padding: 20px;
font-size: 20px;
width: 100px;
height: 100px;
border-radius: 50%;
border: 3px solid #b60d0d;
font-weight: bold;

}
.hours{
background-color: blanchedalmond;
padding: 20px;
font-size: 20px;
width: 100px;
height: 100px;
border-radius: 50%;
border: 3px solid #b60d0d;
font-weight: bold;

}
.mins{
background-color: blanchedalmond;
padding: 20px;
font-size: 20px;
width: 100px;
height: 100px;
border-radius: 50%;
border: 3px solid #b60d0d;
font-weight: bold;

}
.secs{
background-color: blanchedalmond;
padding: 20px;
font-size: 30px;
font-size: 20px;
width: 100px;
height: 100px;
border-radius: 50%;
border: 3px solid #b60d0d;
font-weight: bold;
}
h3{
color:lightseagreen;
}
.birthday{
padding: 20px;
}
.product{
display: flex;
gap: 7rem;
}
.timercenter {
 text-align: center;
}